{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ page.title }}{% endblock %}


{% block content %}

<!-- Page Banner Start -->
        <div class="section page-banner-section" style="background-image: url({% static 'assets/images/bg/banner-img.jpg' %});     background-position: center top; padding-top: 50px;
    padding-bottom: 50px;">
            <div class="container">
                <!-- Page Banner Wrapper Start -->
                <div class="page-banner-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Page Banner Content Start -->
                            <div class="page-banner">
                                <h2 class="title" style="font-size: 27px;">{{ page.mini_title }} {{ page.title }}</h2>
<!--                                <h2 class="title" style="font-size: 27px;"></h2>-->

                            </div>
                            <!-- Page Banner Content End -->
                        </div>
                    </div>
                </div>
                <!-- Page Banner Wrapper End -->
            </div>
        </div>
        <!-- Page Banner End -->
<div class="section blog-standard-section section-padding" style="    padding-top: 50px;">
            <div class="container">
                <!-- Blog Wrapper Start -->
                <div class="blog-details-wrapper">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Blog Details Post Start -->
                            <div class="blog-details-post">
                                <!-- Single Blog Post Start -->
                                <div class="single-blog-post">

                                    <!-- Blog Image End -->
                                    <!-- Blog Details Content Start -->
                                    <div class="blog-details-content">
                                        <!-- Blog Blockquote End -->
                                        <!-- Blog Details Text Start -->
                                        <div class="blog-details-text">
<!--                                            <h4 class="title">{{ page.title }}</h4>-->
                                            <p style="color: black;">{{ page.description|safe }}</p>

                                            <br>
                                            <br>
                                            <div style="
                                            display: flex;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            gap: 24px;
                                            max-width: 1000px;
                                            margin: 0 auto;
                                              ">
                                            {% for i in page.images_page.all %}
                                            {% if i.file_type == 'file' %}
                                            <br>
                                              <div style="background-color: #ffffff; padding: 30px 40px; border-radius: 16px; box-shadow: 0 10px 20px rgba(0,0,0,0.1); text-align: center; max-width: 320px;">
                                                <h2 style="font-size: 22px; font-weight: bold; margin-bottom: 20px; color: #111827;">
                                                    {{ i.name }}</h2>
<!--                                                <p style="font-size: 14px; color: #6b7280; margin-bottom: 24px;">Нажмите, чтобы скачать</p>-->
                                                <a href="{{ i.image.url }}"  style="
                                                  display: inline-block;
                                                  padding: 12px 24px;
                                                  background-color: #2563eb;
                                                  color: #ffffff;
                                                  font-size: 14px;
                                                  font-weight: 600;
                                                  text-decoration: none;
                                                  border-radius: 8px;
                                                  transition: background-color 0.3s ease;
                                                " onmouseover="this.style.backgroundColor='#1d4ed8'" onmouseout="this.style.backgroundColor='#2563eb'">
                                                  📄 Скачать файл
                                                </a>
                                              </div>
                                            <br>
                                            {% endif %}
                                            {% endfor %}

                                            </div>
                                        </div>
                                        <!-- Blog Details Text End -->

                                        <!-- Blog Comments Reply End -->
                                    </div>
                                    <!-- Blog Details Content End -->
                                </div>
                                <!-- Single Blog Post End -->

                            </div>
                            <!-- Blog Details Post End -->
                        </div>
                        <div class="col-lg-4">
                            <!-- Blog Sidebar Start -->
                            <div class="blog-sidebar">

                                <!-- Sidebar Widget End -->
                                <!-- Sidebar Widget Start -->
                                <div class="sidebar-widget">
                                    {% for i in page.images_page.all %}
                                    {% if i.file_type == 'image' %}
                                    <div class="sidebar-image">
                                        <img src="{{ i.image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- Sidebar Widget End -->
                            </div>
                            <!-- Blog Sidebar End -->
                        </div>
                    </div>
                </div>
                <!-- Blog Wrapper End -->
            </div>
        </div>

{% endblock %}