{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% block title %}Главная{% endblock %}

{% block content %}
<!--        &lt;!&ndash; Hero Start &ndash;&gt;-->
<!--        <div class="hero-section section d-lg-flex align-items-lg-start justify-content-lg-center">-->

<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-6">-->
<!--                        &lt;!&ndash; Hero Content Start &ndash;&gt;-->
<!--                        <div class="hero-content">-->
<!--                            <h2 class="title">Общественный фонд "ЭКО-КООМ"</h2>-->
<!--                            <p>Содействие в устойчивом развитии, внедрение экологической культуры в сферу гражданского общества и предпринимательской деятельности через информирование, обучение, обмен опытом, продвижения среди населения принципов рационального и бережного использования природных ресурсов</p>-->

<!--                        </div>-->
<!--                        &lt;!&ndash; Hero Content End &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Hero Image Start &ndash;&gt;-->
<!--            <div class="hero-images">-->
<!--                <div class="image" style="width: 86%">-->
<!--                    <img src="{% static 'assets/images/hero-img.png' %}" alt="">-->
<!--                </div>-->
<!--&lt;!&ndash;                <div class="shape-1 parallaxed">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'assets/images/shape/shape-1.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="shape-2 parallaxed">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{% static 'assets/images/shape/shape-2.png' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                &lt;!&ndash; Hero Image End &ndash;&gt;-->
<!--            </div>-->

<!--        </div>-->
<!--        &lt;!&ndash; Hero End &ndash;&gt;-->

        <!-- Report Career Section Start -->
        <div class="section report-career-2-section section-padding" style="padding-top: 30px;
    padding-bottom: 50px;">
            <div class="container">
                <!-- Report Career Wrapper Start -->
                <div class="report-career-2-wrapper">
                    <div class="row">
                        <div class="col-xl-7 col-lg-6">
                            <!-- Report Career Image Start -->
                            <div class="report-career-2-img-wrapper">
                                <div class="report-career-2-img-sm">
                                    <div class="report-career-2-img img-1">
                                        <img src="{% static 'assets/images/1.jpeg' %}" alt="">
                                    </div>
                                    <div class="report-career-2-img img-2">
                                        <img src="assets/images/career-sm-2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="report-career-2-img-big">
                                    <img src="assets/images/career-big.jpg" alt="">
                                </div>
                            </div>
                            <!-- Report Career Image End -->
                        </div>
                        <div class="col-xl-5 col-lg-6 d-lg-flex align-items-center">
                            <!-- Report Career Content Start -->
                            <div class="report-career-content report-career-2-content">
                                <div class="section-title section-devider">
                                    <h2 class="title" style="    color: #54bedf;">{% trans 'АГЕНТСТВО АККРЕДИТАЦИИ <br> КАЧЕСТВА И РЕЙТИНГА' %}</h2>
                                </div>
                                <p>{% trans 'Наше агентство предоставляет следующие услуги:' %}</p>
                                <ul>
                                    <li><span class="icon"><i class="flaticon-check"></i> </span> <span class="text">{% trans 'Организация и проведение независимой аккредитации образовательных организаций' %}</span> </li>
                                    <li><span class="icon"><i class="flaticon-check"></i> </span> <span class="text">{% trans 'Организация и проведение независимой аккредитации профессиональных образовательных программ;' %}</span> </li>
                                    <li><span class="icon"><i class="flaticon-check"></i> </span> <span class="text">{% trans 'Независимая оценка качества образования' %}</span> </li>
                                    <li><span class="icon"><i class="flaticon-check"></i> </span> <span class="text">{% trans 'Продвижение внедрения современных и инновационных методов и технологий в образовательных организациях' %}</span> </li>
<!--                                    <li><span class="icon"><i class="flaticon-check"></i> </span> <span class="text">Реализация подхода, ориентированного на развитие и дальнейшее улучшение предоставления образовательных услуг</span> </li>-->
                                </ul>
                            </div>
                            <!-- Report Career Content End -->
                        </div>
                    </div>
                </div>
                <!-- Report Career Wrapper End -->
            </div>
        </div>
        <!-- Report Career Section End -->

<!-- Instructor Start -->
        <div class="section instructor-section section-padding" style="background-image: url({% static 'assets/images/world.webp' %});
    padding-top: 70px;
    padding-bottom: 120px;">
            <div class="container">
                <!-- Instructor Wrapper Start -->
                <div class="instructor-wrapper">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-7">
                            <!-- Instructor Content Start -->
                            <div class="instructor-content">
                                <h2 class="title" style="    font-size: 30px;">{% trans 'Миссия Агентства' %}</h2>
                                <p>
				         {% trans 'Миссия – содействие в повышении качества системы образования Кыргызской Республики путем проведения независимой аккредитации образовательные организации и образовательных программ, определения их рейтинга с учетом тенденций мирового образовательного пространства.' %}</p>
                            </div>
                            <!-- Instructor Content End -->
                        </div>
                        <div class="col-lg-6 col-md-5">
                            <!-- Instructor Play Button Start -->
                            <div class="instructor-play text-center">
                                <a class="popup-video" href="https://www.youtube.com/embed/xdPe-5damxo?si=K1Vds0oZv2FWh4pj"><i class="fas fa-play"></i></a>
                            </div>
                            <!-- Instructor Play Button End -->
                        </div>
                    </div>
                </div>
                <!-- Instructor Wrapper End -->
            </div>
        </div>
        <!-- Instructor End -->
        <!-- Features Start -->
        <div class="section features-section">
            <div class="container">
                <!-- Features Wrapper Start -->
                <div class="features-wrapper">
                    <div class="row g-0" style="text-align: center;">
                        <div class="col-lg-4 col-md-4 features-col">
                            <!-- Features Item Start -->
                            <div class="features-item">
                                <div class="features-icon">
                                    <img src="{% static 'assets/images/logo-akkr.svg' %}" style="    max-width: 30%;" alt="">
                                </div>
                                <div class="features-content">
                                    <h3 class="title">{% trans 'Продвижение внедрения' %}</h3>
                                    <p>{% trans 'Продвижение внедрения современных и инновационных методов и технологий в образовательных организациях' %}</p>
                                </div>
                            </div>
                            <!-- Features Item End -->
                        </div>
                        <div class="col-lg-4 col-md-4 features-col">
                            <!-- Features Item Start -->
                            <div class="features-item">
                                <div class="features-icon">
                                    <img src="{% static 'assets/images/logo-akkr.svg' %}" alt="" style="    max-width: 30%;">
                                </div>
                                <div class="features-content">
                                    <h3 class="title">{% trans 'Организация и проведение' %}</h3>
                                    <p>{% trans 'Организация и проведение независимой аккредитации профессиональных образовательных программ' %}</p>
                                </div>
                            </div>
                            <!-- Features Item End -->
                        </div>
                        <div class="col-lg-4 col-md-4 features-col">
                            <!-- Features Item Start -->
                            <div class="features-item">
                                <div class="features-icon">
                                    <img src="{% static 'assets/images/logo-akkr.svg' %}" style="    max-width: 30%;" alt="">
                                </div>
                                <div class="features-content">
                                    <h3 class="title">{% trans 'Реализация подхода' %}</h3>
                                    <p>{% trans 'Реализация подхода, ориентированного на развитие и дальнейшее улучшение предоставления образовательных услуг' %}</p>
                                </div>
                            </div>
                            <!-- Features Item End -->
                        </div>
                    </div>
                </div>
                <!-- Features Wrapper End -->
            </div>
        </div>
        <!-- Features End -->

        <!-- Courses Start -->
<!--        <div class="section section-padding">-->
<!--            <div class="container">-->
<!--                &lt;!&ndash; Section Title Start &ndash;&gt;-->
<!--                <div class="section-title text-center">-->
<!--                    <h2 class="title">Наши проекты</h2>-->
<!--                </div>-->
<!--                &lt;!&ndash; Section Title End &ndash;&gt;-->

<!--                &lt;!&ndash; Courses Wrapper Start &ndash;&gt;-->
<!--                <div class="courses-wrapper">-->
<!--                    <div class="row">-->
<!--                        {% for project in projects %}-->
<!--                        <div class="col-lg-3 col-sm-6">-->
<!--                            &lt;!&ndash; Single Courses Start &ndash;&gt;-->
<!--                            <div class="single-course">-->
<!--                                &lt;!&ndash; Courses Image Start &ndash;&gt;-->
<!--                                <div class="courses-image">-->
<!--                                    <a href="{% url 'project_detail' project.slug %}"><img src="{{ project.image.url }}" alt="Courses"></a>-->

<!--                                </div>-->
<!--                                &lt;!&ndash; Courses Image End &ndash;&gt;-->
<!--                                &lt;!&ndash; Courses Content Start &ndash;&gt;-->
<!--                                <div class="courses-content">-->

<!--                                    <h3 class="title"><a href="{% url 'project_detail' project.slug %}">{{ project.title }}</a></h3>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Courses Content End &ndash;&gt;-->
<!--                                &lt;!&ndash; Courses Meta Start &ndash;&gt;-->

<!--                                &lt;!&ndash; Courses Meta End &ndash;&gt;-->

<!--                            </div>-->
<!--                            &lt;!&ndash; Single Courses End &ndash;&gt;-->
<!--                        </div>-->
<!--                        {% endfor %}-->
<!--                    </div>-->

<!--                </div>-->
<!--                &lt;!&ndash; Courses Wrapper End &ndash;&gt;-->
<!--                &lt;!&ndash; View Courses Start&ndash;&gt;-->

<!--                &lt;!&ndash; View Courses End &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
        <!-- Courses End -->




        <!-- Expert Track Start -->
        <div class="section expert-track-section" style="background-image: url({% static 'assets/images/176835-0842718.jpg' %});    padding-top: 0px;
    padding-bottom: 100px;">
            <div class="container">
                <!-- Expert Track Wrapper Start -->
                <div class="expert-track-wrapper" >
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <!-- Expert Track Content Start -->
                            <div class="expert-track-content">
                                <h2 style="    font-size: 18px;" class="title">{% trans 'Агентство аккредитации качества и рейтинга признано и зарегистрировано в Национальном реестре аккредитованных агентств Кыргызской Республики 23 декабря 2022 года на основании приказа Министерства образования и науки Кыргызской Республики от 23.12.2022 г., № 2910/1' %}</h2>
                            </div>
                            <!-- Expert Track Content End -->
                        </div>
                        <div class="col-xl-6  col-lg-12">
                            <!-- Expert Track Content Start -->
                            <div class="expert-track-content sign-up-content">
                                <h2 style="    font-size: 18px;" class="title">​{% trans 'Мы осуществляем взаимодействие с Центрально-азиатской ассоциацией и федерацией, российскими агентствами и международными организациями в сфере обеспечения гарантии качества образования.Мы принимаем участие в разработке нормативно-правовых актов, по оценке качества образования и осуществляет реализацию политики внедрения их в практику.' %}</h2>
                            </div>
                            <!-- Expert Track Content End -->
                        </div>
                    </div>
                </div>
                <!-- Expert Track Wrapper End -->
            </div>
        </div>
        <!-- Expert Track Start -->

        <!-- Global Learner Start -->
<!--        <div class="section global-learner-section section-padding-02">-->
<!--            <div class="container">-->
<!--                &lt;!&ndash; Global Learner Wrapper Start &ndash;&gt;-->
<!--                <div class="global-learner-wrapper">-->
<!--                    &lt;!&ndash; Global Learner Content Start &ndash;&gt;-->
<!--                    <div class="global-learner-content">-->
<!--                        <h2 class="title">{% get_or_create_content 'Тут какой то текст и числа ' %}</h2>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Global Learner Content End &ndash;&gt;-->
<!--                    &lt;!&ndash; Global Learner Content Start &ndash;&gt;-->
<!--                    <div class="learner-courses-content">-->
<!--                        <div class="single-item learner">-->
<!--                            <h3 class="number">{% get_or_create_content '4,50303'%}</h3>-->
<!--                            <span>{% get_or_create_content 'Текст 1' %}</span>-->
<!--                        </div>-->
<!--                        <div class="single-item courses">-->
<!--                            <h3 class="number">{% get_or_create_content '7,50345' %}</h3>-->
<!--                            <span>{% get_or_create_content 'Текст 2' %}</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Global Learner Content End &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; Global Learner Wrapper End &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
        <!-- Global Learner End -->



        <!-- Features Category Start -->
<!--        <div class="section features-category-section section-padding">-->
<!--            <div class="container">-->
<!--                &lt;!&ndash; Features Category Wrapper Start &ndash;&gt;-->
<!--                <div class="features-category-wrapper">-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-4 col-md-4">-->
<!--                            &lt;!&ndash; Features Category Item Start &ndash;&gt;-->
<!--                            <div class="features-category-item">-->
<!--                                <div class="features-category-icon">-->
<!--                                    <img src="{% static 'assets/images/features-cate/f-cate-1.png' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="features-category-content">-->
<!--                                    <h3 class="title"><a href="#">Проекты</a></h3>-->
<!--                                    <ul class="features-cate-list">-->
<!--                                        {% for i in category_project %}-->
<!--                                        <li><a href="#">{{ i.name }}</a></li>-->
<!--                                        {% endfor %}-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Features Category Item End &ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-4">-->
<!--                            &lt;!&ndash; Features Category Item Start &ndash;&gt;-->
<!--                            <div class="features-category-item">-->
<!--                                <div class="features-category-icon">-->
<!--                                    <img src="{% static 'assets/images/features-cate/f-cate-2.png' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="features-category-content">-->
<!--                                    <h3 class="title"><a href="#">Новости</a></h3>-->
<!--                                    <ul class="features-cate-list">-->
<!--                                        {% for i in category_news %}-->
<!--                                        <li><a href="#">{{ i.name }}</a></li>-->
<!--                                        {% endfor %}-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Features Category Item End &ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-4">-->
<!--                            &lt;!&ndash; Features Category Item Start &ndash;&gt;-->
<!--                            <div class="features-category-item">-->
<!--                                <div class="features-category-icon">-->
<!--                                    <img src="{% static 'assets/images/features-cate/f-cate-3.png' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="features-category-content">-->
<!--                                    <h3 class="title"><a href="#">Публикации</a></h3>-->
<!--                                    <ul class="features-cate-list">-->
<!--                                        {% for i in category_publish %}-->
<!--                                        <li><a href="#">{{ i.name }}</a></li>-->
<!--                                        {% endfor %}-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Features Category Item End &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Features Category Wrapper End &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
        <!-- Features Category End -->

        <!-- Testimonial Start -->
<!--        <div class="section testimonial-section section-padding">-->
<!--            <div class="container">-->
<!--                <div class="section-title text-center">-->
<!--                    <h2 class="title">Отзывы наших <br>партнеров</h2>-->
<!--                </div>-->
<!--                &lt;!&ndash; Testimonial Wrapper Start &ndash;&gt;-->
<!--                <div class="testimonial-wrapper swiper-container testimonial-active">-->
<!--                    <div class="swiper-wrapper">-->
<!--                        {% for i in reviews %}-->
<!--                        <div class="swiper-slide">-->
<!--                            &lt;!&ndash; Single Testimonial Start &ndash;&gt;-->
<!--                            <div class="single-testimonial">-->

<!--                                <div class="testimonial-content color-1">-->
<!--                                    <p>{{ i.content }}</p>-->
<!--                                    <div class="testimonial-bottom">-->
<!--                                        <div class="name-degree">-->
<!--                                            <span class="name">{{ i.name }}</span>-->
<!--                                        </div>-->
<!--                                        <span><i class="flaticon-straight-quotes"></i></span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Single Testimonial End &ndash;&gt;-->
<!--                        </div>-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Add Pagination &ndash;&gt;-->
<!--                    <div class="testimonial-arrow swiper-button-next"></div>-->
<!--                    <div class="testimonial-arrow swiper-button-prev"></div>-->

<!--                    <div class="swiper-pagination"></div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Testimonial Wrapper End &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
        <!-- Testimonial End -->



        <!-- Blog Start -->
<!--        <div class="section blog-section section-padding">-->
<!--            <div class="container">-->
<!--                <div class="blog-wrapper">-->
<!--                    &lt;!&ndash; Section Title Start &ndash;&gt;-->
<!--                    <div class="section-title text-center">-->
<!--                        <h2 class="title">Новости</h2>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Section Title End &ndash;&gt;-->
<!--                    &lt;!&ndash; Blog Wrapper Start &ndash;&gt;-->
<!--                    <div class="blog-content-wrapper">-->
<!--                        <div class="row">-->
<!--                            {% for i in news %}-->
<!--                            <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                                &lt;!&ndash; Single Blog Start &ndash;&gt;-->
<!--                                <div class="single-blog">-->
<!--                                    &lt;!&ndash; Blog Image Start &ndash;&gt;-->
<!--                                    <div class="blog-image">-->
<!--                                        <a href="{% url 'news_detail' i.slug %}"><img src="{{ i.image.url }}" alt="blog"></a>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Blog Image End &ndash;&gt;-->
<!--                                    &lt;!&ndash; Blog Content Start &ndash;&gt;-->
<!--                                    <div class="blog-content">-->
<!--                                        <div class="blog-author-category">-->
<!--                                            {% for j in i.categories.all %}-->
<!--                                            <a class="category color-1" href="#">{{ j.name }}</a>-->
<!--                                            {% endfor %}-->
<!--                                        </div>-->
<!--                                        <h3 class="title"><a href="{% url 'news_detail' i.slug %}">{{ i.title }}</a></h3>-->
<!--                                        <a class="read-more" href="{% url 'news_detail' i.slug %}">Подробнее</a>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Blog Content End &ndash;&gt;-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Single Blog End &ndash;&gt;-->
<!--                            </div>-->
<!--                            {% endfor %}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Blog Wrapper End &ndash;&gt;-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
        <!-- Blog End -->

        <!-- Brand Logo End -->
        <div class="section Brand-section">
            <div class="container">
                <!-- Brand Wrapper End -->
                <div class="brand-wrapper section-padding text-center" style="padding-top: 70px;
    padding-bottom: 50px;">
<!--                    <h3 class="brand-title">Наши <span> партнеры</span> </h3>-->

                    <div class="brand-active">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for sponsor in sponsors %}
                                <!-- Single Brand Start -->
                                <div class="swiper-slide single-brand">
                                    <img src="{{ sponsor.logo.url }}" alt="Brand">
                                </div>
                                <!-- Single Brand End -->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Brand Wrapper End -->
            </div>
        </div>
        <!-- Brand Logo End -->

        <!-- Call to Action Start -->
<!--        <div class="section call-to-action-section">-->
<!--            <div class="container">-->
<!--                &lt;!&ndash; Call to Action Wrapper Start &ndash;&gt;-->
<!--                <div class="call-to-action-wrapper">-->

<!--                    &lt;!&ndash; Call to Action Image Start &ndash;&gt;-->
<!--                    <div class="call-to-action-image">-->
<!--                        <div class="image">-->
<!--                            <img src="{% static 'assets/images/cta-img.png' %}" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Call to Action Image End &ndash;&gt;-->

<!--                    &lt;!&ndash; Call to Action Content Start &ndash;&gt;-->
<!--                    <div class="call-to-action-content">-->
<!--                        <h2 class="title">Start today and get certified in Fundamentals of digital marketing </h2>-->
<!--                        <a class="btn" href="contact.html">Sign Up Now</a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Call to Action Content End &ndash;&gt;-->

<!--                </div>-->
<!--                &lt;!&ndash; Call to Action Wrapper End &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
        <!-- Call to Action End -->

{% endblock %}