{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Новости{% endblock %}
{% block content %}

        <!-- Blog Start -->
        <div class="section blog-standard-section section-padding">
            <div class="container">
                <!-- Blog Wrapper Start -->
                <div class="blog-standard-wrapper wrapper">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="blog-post-wrapper">
                                {% for i in news %}
                                <!-- Single Blog Post Start -->
                                <div class="single-blog single-blog-post">
                                    <!-- Blog Image Start -->
                                    <div class="blog-post-image">
                                        <a href="{% url 'news_detail' i.slug %}"><img src="{{ i.image.url }}" alt="blog"></a>
                                    </div>
                                    <!-- Blog Image End -->
                                    <!-- Blog Content Start -->
                                    <div class="blog-content">

                                        <h3 class="title"><a href="{% url 'news_detail' i.slug %}">{{ i.title }}</a></h3>
                                        <p>{{ i.mini_title }}</p>
                                        <a class="read-more" href="{% url 'news_detail' i.slug %}">{% trans 'Подробнее' %}</a>
                                    </div>
                                    <!-- Blog Content End -->
                                </div>
                                <!-- Single Blog Post End -->
                                {% endfor %}
                                <!-- Gostudy Pagination Start -->
                                {% if is_paginated %}
                                <div class="gostudy-pagination">
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                                <i class="flaticon-left-arrow"></i>
                                            </a>
                                        </li>
                                        {% endif %}

                                        {% for num in page_obj.paginator.page_range %}
                                        {% if num == page_obj.number %}
                                        <li class="page-item active">
                                            <span class="page-link">{{ num }}</span>
                                        </li>
                                        {% elif num > page_obj.number|add:-2 and num < page_obj.number|add:2 %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                                <i class="flaticon-right-arrow"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% endif %}

                                <!-- Gostudy Pagination End -->
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Blog Sidebar Start -->
                            <div class="blog-sidebar">
                                <!-- Sidebar Widget Start -->
                                <div class="sidebar-widget">
                                    <!-- Widget Search Form Start -->
                                    <form class="search-form" action="" method="get">
                                        <input type="text" name="title" placeholder="Искать..." value="{{ request.GET.title }}">
                                        <button type="submit"><i class="flaticon-loupe"></i></button>
                                    </form>

                                    <!-- Widget Search Form End -->
                                </div>
                                <!-- Sidebar Widget End -->
                                <!-- Sidebar Widget Start -->
                                <div class="sidebar-widget">
                                    <!-- Widget Title Start -->
                                    <div class="widget-title">
                                        <h3 class="title">{% trans 'Последние новости' %}</h3>
                                    </div>
                                    <!-- Widget Title End -->
                                    <!-- Widget Recent Post Start -->
                                    <div class="recent-posts">
                                        <ul>
                                            {% for i in recents %}
                                            <li>
                                                <a class="post-link" href="{% url 'news-detail' i.slug %}">
                                                    <div class="post-thumb">
                                                        <img src="{{ i.image.url }}" alt="">
                                                    </div>
                                                    <div class="post-text">
                                                        <h4 class="title">{{ i.title }}</h4>
                                                        <span class="post-meta">{{ i.created_at }}</span>
                                                    </div>
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- Widget Recent Post End -->
                                </div>
                                <!-- Sidebar Widget End -->
                                <!-- Sidebar Widget Start -->
                                <div class="sidebar-widget">
                                    <!-- Widget Title Start -->
                                    <div class="widget-title">
                                        <h3 class="title">{% trans 'Категории' %}</h3>
                                    </div>
                                    <!-- Widget Title End -->
                                    <!-- Widget Category Start -->
                                    <ul class="category">
                                        {% for i in categories %}
                                        <li class="cate-item"><a href="/news?category={{ i.id }}">{{ i.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <!-- Widget Category End -->
                                </div>
                                <!-- Sidebar Widget End -->
                            </div>
                            <!-- Blog Sidebar End -->
                        </div>
                    </div>
                </div>
                <!-- Blog Wrapper End -->
            </div>
        </div>
        <!-- Blog End -->
{% endblock %}