{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ publication_category.name }}{% endblock %}
{% block content %}

        <!-- Courses Start -->
        <div class="section top-courses-3-section courses-grid-section">
            <div class="container">
                <div class="top-courses-wrapper">
                    <!-- Section Title Start -->
                    <div class="section-title text-center">
                        <h2 class="title">{{ publication_category.name }}</h2>
                    </div>
                    <!-- Section Title End -->
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-md-12">
                            <div class="top-courses-filter text-center">
                                <ul>
                                    {% for page in publication_category.publications.all %}
                                    <li><a href="{% url 'page_detail' page.slug %}">{{ page.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Courses Wrapper Start -->
                    <div class="top-courses-content-wrapper">
                        <div class="row grid">
                            {% for page in publication_category.publications.all %}
                            <div class="col-lg-3 col-sm-6 course-health course-cooking">
                                <!-- Single Courses Start -->
                                <div class="single-course">
                                    <!-- Courses Image Start -->
                                    <!-- Courses Image End -->
                                    <!-- Courses Content Start -->
                                    <div class="courses-content">
                                        <h3 class="title"><a href="{% url 'page_detail' page.slug %}">{{ page.title }}</a></h3>
                                    </div>
                                    <!-- Courses Content End -->
                                    <!-- Courses Meta Start -->

                                    <!-- Courses Meta End -->

                                </div>
                                <!-- Single Courses End -->
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    <!-- Courses Wrapper End -->

                </div>

            </div>
        </div>

        <!-- Courses End -->


{% endblock %}