{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ publication_category.name }}{% endblock %}
{% block content %}

        <!-- Courses Start -->
        <div class="section top-courses-3-section courses-grid-section">
            <div class="container">
                <div class="top-courses-wrapper">
                    <!-- Section Title Start -->
                    <div class="section-title text-center">
                        <h2 class="title">{{ publication_category.name }}</h2>
                    </div>
                    <!-- Section Title End -->
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-md-12">
                            <div class="top-courses-filter text-center">
                                <ul>
                                    {% for page in publication_category.publications.all %}
                                    <li><a href="{% url 'page_detail' page.slug %}">{{ page.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Courses End -->


{% endblock %}